---
import Cta from "./cta.astro";
---

<footer>
  <Cta />

  <p class="text-center text-sm text-slate-500 my-10">
    Copyright © {new Date().getFullYear()} Hexadigi. All rights reserved.
  </p>
</footer>
