---
import Link from "@components/ui/link.astro";
const { default: innerHTML } = await import(`assets/homePage.svg?raw`);
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-20 pb-10 md:pt-12 md:pb-20">
  <div class="md:py-20 md:order-1">
    <Fragment set:html={innerHTML} />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Tech studio for emerging brand
    </h1>
    <p class="text-lg mt-6 text-slate-600 max-w-xl">
      Our expertise lies in technical branding and product development.
    </p>
    <div class="mt-8 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Schedule A Meeting
      </Link>
    </div>
  </div>
</main>
